@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 10% 3.9%;
    
    --secondary-backgound: #0E0A31;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 90%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: #3c2E4c
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --regal-blue: #243c5a;
  }

    
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  .buttonComp {
    @apply absolute inset-[-100%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]
  }
  .text{
    @apply bg-clip-text text-transparent text-center bg-gradient-to-b from-neutral-500 to-white text-2xl md:text-4xl lg:text-6xl py-2 md:py-10 relative z-0 font-bold tracking-tight 
  }
  
  .para-short {
    @apply  text-sm sm:text-xl text-zinc-400 tracking-wide mb-8 max-w-screen-xl antialiased leading-loose 
  }
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 20s) linear infinite;
  animation-direction: var(--animation-direction, forwards);
}

.myButton{
@apply text-sm rounded-xl bg-white text-black  flex p-6 px-6 py-5 gap-2 flex-1
}

.rotate-3d {
  perspective: 1000px;
}
.rotate-3d:hover {
  transform: rotateY(15deg) rotateX(15deg);
  transform: translate(140.744,68.1455) translate(-140.744,-49.5665)
}

